<!-- Begin meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Abdul Bashet" />
<meta name="copyright" content="Institute of Education, University of London" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->
<title>{{ template:title }} - {{ settings:site_name }}</title>
{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}
<!--styles-->

{{ theme:css file="base.css" }}


{{ theme:js file="jquery-2.0.3.min.js" }}
{{ theme:js file="jquery-ui-1.10.3.full.min.js" }}
<!--{{ theme:js file="jquery-ui-1.10.3.custom.min.js" }}-->
<!--{{ theme:js file="jquery.autosize.min.js" }}-->
<!--{{ theme:js file="jquery.colorbox-min.js" }}-->


{{ theme:js file="jquery.dataTables.min.js" }}
<!--{{ theme:js file="jquery.easy-pie-chart.min.js" }}-->
<!--{{ theme:js file="jquery.gritter.min.js" }}-->
<!--{{ theme:js file="jquery.hotkeys.min.js" }}-->
<!--{{ theme:js file="jquery.inputlimiter.1.3.1.min.js" }}-->
<!--{{ theme:js file="jquery.knob.min.js" }}-->
<!--{{ theme:js file="jquery.maskedinput.min.js" }}-->
{{ theme:js file="jquery.mobile.custom.min.js" }}
{{ theme:js file="jquery.nestable.min.js" }}
<!--{{ theme:js file="jquery.slimscroll.min.js" }}-->
<!--{{ theme:js file="jquery.sparkline.min.js" }}-->
{{ theme:js file="jquery.ui.touch-punch.min.js" }}
{{ theme:js file="jquery.validate.min.js" }}
{{ theme:js file="jquery.zclip.min.js" }}

<!--{{ theme:js file="additional-methods.min.js" }}-->

{{ theme:js file="bootstrap-3.1.1.min.js" }}
<!--{{ theme:js file="bootbox.min.js" }}-->
<!--{{ theme:js file="bootstrap-colorpicker.min.js" }}-->
<!--{{ theme:js file="bootstrap-tag.min.js" }}-->
{{ theme:js file="jquery.dataTables.bootstrap.js" }}

<!--{{ theme:js file="chosen.jquery.min.js" }}-->
<!--{{ theme:js file="dropzone.min.js" }}-->
<!--{{ theme:js file="excanvas.min.js" }}-->
<!--{{ theme:js file="fullcalendar.min.js" }}-->
{{ theme:js file="html5shiv.js" }}

{{ theme:js file="prettify.js" }}
{{ theme:js file="respond.min.js" }}
<!--{{ theme:js file="select2.min.js" }}-->
<!--{{ theme:js file="spin.min.js" }}-->
<!--{{ theme:js file="typeahead-bs2.min.js" }}-->

{{ theme:js file="magic.min.js" }}
{{ theme:js file="magic-elements.min.js" }}
{{ theme:js file="magic-extra.min.js" }}

{{ theme:js file="magic-custom.js" }}
{{ theme:js file="tinymce/tinymce.min.js" }}
{{ theme:js file="jquery.tooltipster.min.js" }}
{{ theme:js file="clipboard.min.js" }}

<!--/scripts-->

{{ template:metadata }}
