<nav class="navbar navbar-default" role="navigation" id="horzMenu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url:site  }}">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ if user:group == 'manager' || user:group == 'admin'}}
                    <li class=""><a href="{{ url:site }}survey/manage_users">Manage Users</a></li>
                    <li class=""><a href="{{ url:site }}survey/programme_request">Programme Request</a></li>
                {{ endif }}

                {{ if user:group == 'admin'}}
                    <li><a href="{{ url:site }}survey/clients">Organisations</a></li>
                    <li><a href="{{ url:site  }}survey/programme">Programme</a></li>
                    <li><a href="{{ url:site  }}survey">Survey</a></li>
                    <li><a href="{{ url:site  }}survey/question_categories">Question Category</a></li>
                    <!--<li><a href="{{ url:site  }}survey/default_options">Default Options</a></li>-->

                {{ endif }}

                {{ if user:group == 'user'}}
                    <li class=""><a href="{{ url:site }}survey/evaluators">Evaluator</a></li>
                    <li class=""><a href="{{ url:site }}survey/user_survey">Self-assessment</a></li>
                    <li class=""><a href="{{ url:site }}survey/reports">Reports</a></li>
                    <li class=""><a href="{{ url:site }}survey/history">Overview</a></li>
                {{ endif }}
                <li class=""><a href="{{ url:site }}faq">Help</a></li>
                {{ if user:logged_in }}

                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            {{ if user:group == 'user'}}
                            <li class=""><a href="{{ url:site }}survey/new_application"><i class="icon-edit"></i> Apply for new programme</a></li>
                            {{ endif }}
                            {{ if settings:enable_profiles }}
                            <li class=""><a href="{{ url:site uri='edit-profile' }}"><i class="icon-edit"></i> {{ helper:lang line="edit_profile_label" }}</a></li>
                            {{ endif }}

                            {{ if user:has_cp_permissions }}
                            <li class=""><a href="{{ url:site uri='admin' }}"><i class="icon-cogs"></i> {{ helper:lang line="global:control-panel" }}</a></li>
                            {{ endif }}

                            {{ if survey:old_user }}
                            <li class="divider"></li>
                            <li class=""><a href="{{ url:site uri='survey/adminlogin' }}"><i class="icon-user"></i> Back to original login</a></li>
                            {{ endif }}

                            <li class="divider"></li>
                            <li><a href="{{ url:site uri='users/logout' }}"><i class="icon-off"></i> {{ helper:lang line="logout_label" }}</a></li>
                        </ul>
                    </li>
                {{ endif }}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>